<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="Basket"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.BasketPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Basket.SetCultureCode}</value>

						<!-- Calculate shipping fees and tax -->
						<value>${Basket.CalculateShippingCostForShipments}</value>
						<value>${Basket.CalculateShippingTaxForShipments}</value>
						<value>${Basket.CalculateShippingTotalForShipments}</value>
						
						<!-- Calculate tax for order lines based on original unit prices -->
						<value>${Basket.CalculateOrderLineTax}</value>

						<!-- Calculate totals for order lines and order based on original prices -->
						<value>${Basket.CalculateOrderLinesTotals}</value>
						<value>${Basket.CalculateShippingTotal}</value>
						<value>${Basket.CalculatePaymentTotal}</value>

						<!-- Apply discounts -->
						<value>${Basket.ApplyAwards}</value>

						<!-- Calculate order level discount total based on applied discounts -->
						<value>${Basket.CalculateOrderLinesUnitDiscounts}</value>
						
						<!-- Calculcate order line discounts based on applied discounts -->
						<value>${Basket.CalculateOrderDiscount}</value>
						<value>${Basket.CalculateOrderLinesDiscounts}</value>
						
						<!-- Calculate total value of items excluding taxes -->
						<value>${Basket.CalculateOrderSubTotal}</value>

						<!-- Shipping taxes and totals need to be recalculated if discounts are applied to shipments -->
						<value>${Basket.CalculateShippingDiscounts}</value>
						<value>${Basket.CalculateShippingTaxForShipments}</value>
						<value>${Basket.CalculateShippingTotalForShipments}</value>

						<!-- Recalculate tax for order lines based on reduced unit prices -->
						<value>${Basket.CalculateOrderLineTax}</value>
						
						<!-- Recalculate tax rate for order lines. -->
						<value>${Basket.CalculateOrderLineTaxRate}</value>

						<!-- Calculate totals for order lines and order -->
						<value>${Basket.CalculateOrderLinesTotals}</value>
						<value>${Basket.CalculateShippingTotal}</value>
						<value>${Basket.CalculatePaymentTotal}</value>

						<value>${Basket.CalculateVATTotal}</value>
						<value>${Basket.CalculateOrderDiscountTotal}</value>

						<value>${Basket.CalculateOrderTaxTotal}</value>
						<value>${Basket.CalculateOrderTotal}</value>

						<value>${Basket.CleanUp}</value>
						<value>${Basket.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>
		
		<!-- Pipeline Tasks-->
		<component id="Basket.CleanUp"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CleanUpTask, UCommerce.Pipelines" />

		<component id="Basket.ConvertOrderLevelDiscountsToOrderLinesDiscount"
					service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
					type="UCommerce.Pipelines.Basket.ConvertOrderLevelDiscountsToOrderLinesDiscount, UCommerce.Pipelines"/>
		
		<component id="Basket.ApplyAwards"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.ApplyAwardsTask, UCommerce.Pipelines" />
		
		<component id="Basket.SetCultureCode"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.SetCultureCodeTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLinesUnitDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderLinesUnitDiscountsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateShippingDiscountTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLinesDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderLinesDiscountsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLinesTotals"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderLineTotalsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingTaxForShipments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateShippingTaxForShipmentsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingCostForShipments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateShippingCostForShipmentsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingTotalForShipments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateShippingTotalForShipmentsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateShippingTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculatePaymentTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculatePaymentTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLineTax"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderLineTaxTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateVATTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderVatTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderDiscount"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderDiscountTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderDiscountTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderDiscountTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderSubTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderSubTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderTaxTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderTaxTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderTotalTask, UCommerce.Pipelines" />

		<component id="Basket.CalculateOrderLineTaxRate"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Basket.CalculateOrderLineTaxRateTask, UCommerce.Pipelines" />

		<component id="Basket.Save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Common.SavePurchaseOrderTask, UCommerce.Pipelines" />
	</components>
</configuration>