<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ToCancelled"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Orders.OrderProcessingPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<!-- 
							Payment processing vendors usually require additional subscription fees for you to be able to access their API.
							Please consult your agreement to see if API access is supported for your particular plan.
						-->
						<!--<value>${ToCancelled.CancelPaymentTask}</value>-->
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ToCancelled.CancelPaymentTask"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Orders.ToCancelled.CancelPaymentTask, UCommerce.Pipelines" />
	</components>
</configuration>
