<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site
				patch:before="*[@name='shell']"
				name="training store"
				hostName="*"
				virtualFolder="/store"
				physicalFolder="/store"
				rootPath="/sitecore/content/store"
				startItem="/"
				database="master"
				domain="extranet"
				allowDebug="true"
				cacheHtml="true"
				htmlCacheSize="10MB"
				registryCacheSize="0"
				viewStateCacheSize="0"
				xslCacheSize="5MB"
				filteredItemsCacheSize="2MB"
				enablePreview="true"
				enableWebEdit="true"
				enableDebugger="true"
				disableClientData="false"/>
		</sites>
	</sitecore>
</configuration>