<!--
	Custom configuration for uCommerce components.
	
	Find the ID of component you want to override
	and use the same ID here. Your component will
	override the default.
	
	You can configure new components here as well
	and have them injected into existing ones.
-->
<configuration>
  <components>
		<component id="CommerceConfigurationProvider"
		service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
		type="UCommerce.MasterClass.BusinessLogic.Integration.InMemoryCommerceConfigurationProvider, UCommerce.MasterClass.BusinessLogic">
			<parameters>
				<connectionString>Data Source=localhost\SQLEXPRESS;Initial Catalog=ucommSitecore_web;Integrated Security=False;User ID=SitecoreDBA;Password=P@ssw0rd;Connect Timeout=1</connectionString>
			</parameters>
		</component>

		<component id="UserService"
			service="UCommerce.Security.IUserService, UCommerce"
			type="UCommerce.MasterClass.BusinessLogic.Integration.SingleUserService, UCommerce.MasterClass.BusinessLogic">
			<parameters>
				<userName>AutomaticTests</userName>
			</parameters>
		</component>

		<component id="LoggingService"
			service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
			type="UCommerce.MasterClass.BusinessLogic.Logging.ConsoleLoggingService, UCommerce.MasterClass.BusinessLogic">
		</component>
		
	</components>
</configuration>